body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F48668;
}

h1 {
    text-align: center;
}

#logo {
    display: flex;
    width: 450px;
    height: 350px;
    margin: 0 auto;
}