body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F5DBCB;
}

h1 {
    text-align: center;
}

#logo {
    display: flex;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

ul {
    margin: 100px;
    position: fixed;
    left: 545px;
    text-align: center;
    list-style-type: none;
}

.home-list:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

li {
    font-size: 25px;
}

footer {
    font-size: xx-small;
}

#footer-text {
    position: fixed;
    top: 720px;
    left: 1350px;
}