body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F5DBCB;
}

h1 {
    text-align: center;
}

#logo {
    display: flex;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

ul {
    position: fixed;
    left: 645px;
    text-align: center;
    display: table;
    margin: 0 auto;
    margin-top: 100px;
    list-style-type: none;
}

li {
    font-size: 25px;
}

.home-list:hover {
    text-decoration: underline;
    /* color: #e0ab8a; use this color for hover color of background*/
    color: #ED7B84;
}

a {
    text-decoration: none;
}

footer {
    font-size: xx-small;
}

#footer-text {
    position: fixed;
    top: 720px;
    left: 1350px;
}